.message-box-container{
    width: 90%;
    display: flex;
}
.message-box-container-user{
    margin-left: calc(10% - 0.5rem);
    justify-content: flex-end;
}
.message-box{
    border: 1px solid #232323;
    color: white;
    display: block;
    padding: 2px;
    margin: 0.5rem;
    border-radius: 1rem;
    background: rgba(100, 100, 100, 0.1);
}
.message-box-user .message-box-inner{
    background: rgba(100, 100, 100, 0.2);
    box-shadow: none;
}
.message-box-inner{
    background: rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
    border-radius: inherit;
    box-shadow: inset 0 0 25px #0f0f0f;
    max-width: 80vw;
    overflow-wrap: break-word;
}